<h1>¿Que quieres hacer?</h1>
<ol>
    <li><a href="/consultar">Consultar</a></li>
    <li><a href="/retirar">Retirar</a></li>
    <li><a href="/depositar">Depositar</a></li>
    <li><a href="/registrar">Registrar</a></li>
</ol>